/* body style */
body {
  background-color: #e5e5e5;
  font-family: s;
}

/* navbar style */
nav {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4a4a4a;
}

.nav-link:hover {
  color: #007bff;
}

.form-control {
  border-radius: 20px;
}

.btn-outline-success {
  border-color: #007bff;
  border-radius: 20px;
  color: #007bff;
}

.btn-outline-success:hover {
  background-color: #007bff;
  color: #fff;
}

/* main section style */
.container {
  margin-top: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
}

.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}

.card-body {
  padding: 20px;
}

.list-unstyled li {
  font-size: 1.2rem;
  color: #4a4a4a;
}

.text-body-secondary {
  font-size: 1rem;
  color: #4a4a4a;
}

.text-bg-primary {
  color: #007bff;
}

.border-primary {
  border-color: #007bff;
}

.row-cols-md-3 > .col {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
}
